<div class="card text-white bg-primary mb-3" style="max-width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ officeDetails.name }}</h5>
    <p class="card-text">
      Address:
      {{ officeDetails.location }}
    </p>
    <p class="card-text">
      Email:
      {{ officeDetails.email }}
    </p>
    <p class="card-text">
      Office Tel:
      {{ officeDetails.telephone }}
    </p>
    <p class="card-text">
      Max Capacity:
      {{ officeDetails.maxoccupants }}
    </p>
  </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
